<!DOCTYPE html>
<html>
<head>
</head>
<body style="font-family: Arial; font-size: 14px;">
    <div>
        <p>Dear <b><%=data.name%></b>,</p>
        <p>Your account has been created in DIPRO Platfrom.</p>
        <br/>
        <p>Go to <a href="<%=data.link%>">DIPRO Platform</a>.</p>
    </div>
</body>
</html>
