<!DOCTYPE html>
<html>
<head>
</head>
<body style="font-family: Arial; font-size: 14px;">
    <div>
        <p>Dear <b><%=data.name%></b>,</p>
        <p>Please click this link below to <b>Verify your Account</b></p>
        <br/>
        <p>Link to verify account: <a href="<%=data.link%>"><%=data.link%></a></p>
    </div>
</body>
</html>
